// Fonts
@import './shared/fonts';

// Components
@import './components/header';

// Pages
@import './shared/index';

html, body {
    height: 100vh;
    width: 100%;
    font-family: 'BigShouldersStencil';
    font-size: 20px;
}

.absolute {
    position: absolute;
  }

.self-typed {
    font-size: 45px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.base-page {
    padding-top: 100px;
}
